.menu {
  width: 320px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 100;
}

.sidemenu{
  margin: 20px;
}

ul.cp_list{
  position: relative;
  padding: 0;
  list-style-type: none;
}

ul.cp_list li{
  padding: 0.5em;
  margin-bottom: 3px;
  line-height: 1.5;
  border-left: solid 6px #1A237E;
  background: #80DEEA;
  color:#1A237E;
}

.blink{
  color: red;
  animation: 1s linear infinite blink_effect;
}
@keyframes blink_effect {
  0%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}

.flex {
  display: flex;
  justify-content: center;
}

