.menu {
  width: 320px;
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  z-index: 100;
}

.sidemenu{
  margin: 20px;
}

.blink{
  animation: 1s linear infinite blink_effect;
}
@keyframes blink_effect {
  0%{
    visibility: hidden;
  }
  50%{
    visibility: hidden;
  }
  100%{
    visibility: visible;
  }
}

