body{ color: #333333;}

p{
    font-size:14px;
    line-height: 1.429;
}

/*表*/
table{
    font-size:14px;
    line-height: 1px solid #CCCCCC;
    border-collapse: collapse;
    width: 100%;
}
table th,
table td{
    border: 1px solid #CCCCCC;
    padding: 5px 10px;
}

table th{
    background-color: #EEEEEE;
    text-align: left;
}

table caption{
    text-align: left;
    font-weight: bold;
}

/*見出し*/
.pageTitle{
    font-size:26px;
    background-color: #F2F2E5;
    padding: 5px 15px;
    line-height:1.231;
}

heading-typeA{
    font-size:18px;
    color:#349FA6;
    border-bottom: solid 1px #349FA6;
    padding:5px;
    line-height:1.333;
 }
heading-typeC{
    font-size:14px;
    line-height:1.429;
}

/*区切り線*/
.articleDetailHead{
    border-bottom: solid 1px #CCCCCC;
    margin-bottom:30px;
    padding-top: 15px;
}

.articleDetailFoot{
    border-top: solid 1px #CCCCCC;
    margin-top:30px;
    padding-top:15px;
}

.articleDetailBody section{
    margin:30px;
}